<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/auth.css">
    <link rel="stylesheet" href="/assets/css/entrance.css" />
    
    <title>Document</title>
</head>

<body>
    <div class="ram">
        <div class="form">
            <form action="" method="post" class="auth">
                <h1 class="title">Вход</h1>
                <!-- <div class="err">Введить правильный логин или пароль</div> -->
                <div class="inp">
                    <input type="text" name="email" placeholder="email" class="row" />
                    <input type="password" name="password" placeholder="password" class="row" />
                    <button class="butt">Продолжить</button>
                </div>
                <span class="text">Еще нет аккаунта?</span>
                <a href="/auth/signUp" class="link">Создать аккаунт</a>
            </form>
        </div>
    </div>
    <script src="/assets/js/entrance.js"></script>
</body>

</html>