<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/entrance.css" />
    <!-- <link rel="stylesheet" href="/internal/front/css/index.css"> -->
    <title>Document</title>
</head>

<body>
    <div class="ram">
        <div class="form">
            <form action="" method="post" class="auth">
                <h1 class="title">Добро пожаловать</h1>
                <div class="inp">
                    <input type="text" name="email" placeholder="Email" class="row" />
                    <input type="password" name="password" placeholder="Password" class="row" />
                    <button class="butt">Продолжить</button>
                </div>
                <a href="" class="link">Восстановить доступ</a>
                <a href="/auth/signUp" class="link">Создать аккаунт</a>
            </form>
        </div>
    </div>
    <script src="/assets/js/entrance.js"></script>
</body>

</html>