<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/auth.css">
  <link rel="stylesheet" href="/assets/css/registration.css" />

  <title>Document</title>
</head>

<body>
  <div class="ram">
    <div class="form">
      <form action="/auth/signUp" method="post" class="auth">
        <h1 class="title">Регистрация</h1>
        <div class="inp">
          <input type="text" name="Email" placeholder="Email" class="row" />
          <input type="text" name="Username" placeholder="Username" class="row" />
          <input type="password" name="Password" placeholder="Password" class="row" />
          <input type="password" name="RepeatPassword" placeholder="Repeat password" class="row" />
          <button class="butt">Регистрация</button>
        </div>
        <span class="text">Уже есть аккаунт?</span>
        <a class="link" href="/auth/signIn" class="link">Войти</a>
      </form>
    </div>
  </div>
  <script src="/assets/js/registration.js"></script>
</body>

</html>